.main-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 6px 0;
  background-color: #ffffff;
  &__info {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    span {
      margin-right: 50px;
    }
    a {
      color: #2a7fc7;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #615344;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
    a {
      margin: 0 3px;
      img {
        transition: all 0.15s ease-out;
      }
      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
  }
}

.main-padding_0 {
  padding: 0;
}

.main-header {
  display: block;
  width: 100%;
  padding: 24px 0;
  background-color: #f7f7f7;
  .container > &_fix {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    text-decoration: none;
    img {
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
  &__search {
    display: inline-flex;
    align-items: center;
    flex: 0 1 400px;
    input {
      display: inline-block;
      flex: 1 1 auto;
      padding: 12px 22px;
      border: none;
      outline: none;
      border-radius: 5px 0 0 5px;
      border: 1px solid rgba(97, 83, 68, 0.03);
      background-color: #ffffff;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
    }
    button {
      display: inline-block;
      flex: 1 1 auto;
      padding: 12px 42px;
      background-color: #e8e8e8;
      border: none;
      outline: none;
      border-radius: 0 5px 5px 0;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
      transition: all 0.15s ease-out;
      &:hover {
        background-color: #fdce17;
        color: #615344;
      }
    }
  }
  &__basket {
    display: inline-flex;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #f2f0f0;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #fdce17;
      text-decoration: none;
      span {
        color: #615344;
      }
    }
    img {
      display: inline-block;
      margin-right: 18px;
    }
    span {
      color: #2a7fc7;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__call {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    &-number {
      display: block;
      margin-bottom: 2px;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-button {
      display: inline-block;
      border: none;
      background: transparent;
      color: #2a7fc7;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #615344;
        text-decoration: none;
      }
    }
  }
}

.main-nav__link {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  &:last-child {
    min-width: 50px;
  }
  img {
    display: block;
    margin-bottom: 8px;
    transition: all 0.15s ease-out;
  }
  span {
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 13px;
    line-height: 1.4;
    transition: all 0.15s ease-out;
    &:hover {
      color: #fdce17;
      text-decoration: none;
    }
  }
}

.home-new-big {
  width: 100%;
  position: relative;
  padding: 90px 70px;
  border-radius: 5px;
  background-color: #cddc39;
  &__title {
    display: block;
    max-width: 340px;
    margin-bottom: 26px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    padding: 16px 23px;
    box-shadow: 1px 6px 9px rgba(190, 204, 53, 0.57);
    border-radius: 5px;
    background-color: #ffffff;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      color: #615344;
      box-shadow: none;
      text-decoration: none;
    }
  }
  &__back-img {
    display: block;
    max-width: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.home-new-small {
  display: block;
  width: 100%;
  min-height: 413px;
  padding: 33px 23px;
  border-radius: 5px;
  background-color: #ffb74d;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 24px;
  }
  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.home-best {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 50px 0;
}

.home-best-card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  width: 270px;
  border-radius: 5px;
  border: 1px solid rgba(97, 83, 68, 0.1);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s ease-out;
  &:hover {
    box-shadow: 1px 6px 29px rgba(0, 0, 0, 0.11);
  }
  a {
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #615344;
    }
  }
  &__feature {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border-radius: 5px 0 5px 0;
    padding: 6px 20px;
    background-color: #3f8ddc;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    &_hit {
      background: #7f8b01 !important;
    }
    &_sale {
      background: #dc3f3f !important;
    }
    &_new {
      background: #3f8ddc !important;
    }
  }
  &__img {
    display: block;
    width: 165px;
    height: 165px;
    object-fit: contain;
    object-position: center;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  &__category {
    display: block;
    margin-bottom: 16px;
    color: rgba(97, 83, 68, 0.77);
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
  }
  &__title {
    display: block;
    max-width: 240px;
    height: 44px;
    margin-bottom: 30px;
    color: #2a7fc7;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    transition: all 0.15s ease-out;
    &:hover {
      color: #615344;
    }
  }
  &__price {
    display: block;
    margin-bottom: 26px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
  &__buy {
    display: flex;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    align-items: stretch;
    background: transparent;
    border: none;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      .home-best-card__buy-main {
        background-color: #ffda4c;
      }
    }
    &-img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      border-radius: 0 0 0 5px;
      background-color: #ffda4c;
    }
    &-main {
      display: inline-flex;
      flex: 1 1 auto;
      padding: 18px;
      border-radius: 0 0 5px 0;
      background-color: #fdce17;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      transition: all 0.15s ease-out;
    }
  }
}

.home-title {
  display: block;
  max-width: 500px;
  margin: 0 auto 35px;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.home-catalog {
  padding: 50px 0 20px 0;
  background-color: #f7f7f7;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.home-catalog-card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 370px;
  height: 235px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.06);
  border-radius: 5px 3px 3px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: all 0.15s ease-out;
  &:hover {
    box-shadow: 1px 6px 46px rgba(0, 0, 0, 0.15);
  }
  &__img {
    display: block;
    width: 275px;
    height: 165px;
    margin-bottom: 6px;
    object-fit: contain;
    object-position: center;
  }
  &__title {
    display: block;
    height: 50px;
    overflow: hidden;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
  }
  &:hover {
    text-decoration: none;
  }
}

.home-portfolio {
  padding: 50px 0 30px 0;
  background-color: #f7f7f7;
}

.home-slider {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  &__slide {
    display: block;
    width: 100%;
    height: 370px;
    background-size: cover;
    &-title {
      display: block;
      margin-top: 260px;
      margin-left: 80px;
      color: #fdce17;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.home-reviews {
  display: block;
  padding: 50px 0;
}

.home-reviews-slider {
  width: 100%;
  &__slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    &-img {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 999rem;
      margin: 0 auto 28px;
    }
    p {
      display: block;
      max-width: 770px;
      text-align: justify;
      margin: 0 auto 20px;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      -moz-text-align-last: center;
      text-align-last: center;
    }
    &-author {
      display: block;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.home-news {
  padding: 50px 0 30px;
  background-color: #eeeeee;
}

.home-news-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.home-news-card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  width: 370px;
  box-shadow: 1px 4px 35px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #ffffff;
  &:hover {
    text-decoration: none;
  }
  &__img {
    display: block;
    width: 100%;
    height: 185px;
    margin-bottom: 28px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
  }
  &__title {
    display: block;
    margin: 0 auto 16px;
    max-width: 330px;
    text-align: center;
    color: #2a7fc7;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
  }
  p {
    display: block;
    margin: 0 auto 30px;
    max-width: 330px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
  }
}

.home-article {
  padding: 50px 0 30px;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  p {
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
  }
}

.home-companies {
  padding: 0 0 40px 0;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.home-companies-card {
  display: inline-flex;
  width: 170px;
  height: 85px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid rgba(97, 83, 68, 0.11);
  background-color: rgba(97, 83, 68, 0);
  img {
    display: block;
    width: 150px;
    height: 70px;
    object-fit: contain;
  }
}

.main-footer {
  display: block;
  padding: 45px 0;
  background: #615344 url('../images/footer_bg.jpg') repeat;
  &__nav {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        display: inline-block;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        transition: all 0.15s ease-out;
        &:hover {
          text-decoration: none;
          color: #fdce17;
        }
      }
    }
  }
  &__creators {
    display: block;
    margin-top: 25px;
    text-align: center;
    opacity: 0.59;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
    }
    a {
      color: #fdce17;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        color: #ffffff;
      }
    }
  }
}

.main-breadcrumps-bg {
  background-color: #f7f7f7;
}

.main-breadcrumps {
  display: block;
  width: 100%;
  margin: 25px 0 0;
  padding: 0;
  list-style: none;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  li {
    display: inline-block;
  }
  span {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #615344;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #fdce17;
    }
  }
}

.main-title {
  background-color: #f7f7f7;
  &__this {
    display: block;
    margin: 35px 0;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
}

.articles-cards {
  display: block;
  padding: 30px 0 0;
}

.articles-card {
  display: block;
  margin-bottom: 50px;
  text-decoration: none;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  a {
    color: #615344;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #fdce17;
    }
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    transition: all 0.15s ease-out;
  }
  &__img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  p {
    display: block;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.main-container {
  padding: 35px 0 0;
  .home-best-card {
    width: 250px;
  }
}

.catalog-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: block;
  }
  &__sub-nav {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid #fdce17;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 12px;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  &__link {
    display: block;
    margin-bottom: 10px;
    color: #2a7fc7;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #615344;
    }
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.article-article {
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 24px;
    font-weight: 700;
  }
  p {
    margin-bottom: 24px;
  }
  ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 24px;
    list-style: square;
  }
  blockquote {
    display: block;
    position: relative;
    margin: 50px 0 75px;
    padding: 10px 80px 10px 110px;
    border: none;
    color: #615344;
    font-family: "Appetite New";
    font-size: 16px;
    font-weight: 400;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 58px;
      height: 58px;
      left: 32px;
      top: 8px;
      background: url('../images/icon_blockquote.png') no-repeat center;
    }
  }
}

.good-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.good-main__slider {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.good-description {
  display: block;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 700;
  }
  tbody {
    line-height: 2;
  }
}

.good-links {
  display: block;
  margin-bottom: 30px;
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
  border: 1px solid rgba(97, 83, 68, 0.1);
  background-color: #ffffff;
  &__link {
    display: block;
    margin-bottom: 14px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #fdce17;
    }
  }
}

.good-article {
  display: block;
  margin-top: 45px;
  padding: 35px 0 25px;
  background-color: #f7f7f7;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 700;
  }
  p {
    margin-bottom: 20px;
  }
}

.good-buy {
  display: block;
  border-radius: 5px;
  border: 1px solid rgba(97, 83, 68, 0.1);
  background-color: #ffffff;
  text-align: center;
  &__what {
    display: block;
    margin: 25px auto 15px;
    color: rgba(97, 83, 68, 0.77);
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
  }
  &__price {
    display: block;
    margin-bottom: 15px;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
  &__buy {
    display: flex;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    align-items: stretch;
    background: transparent;
    border: none;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      .good-buy__buy-main {
        background-color: #ffda4c;
      }
    }
    &-img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      border-radius: 0 0 0 5px;
      background-color: #ffda4c;
    }
    &-main {
      display: inline-flex;
      flex: 1 1 auto;
      padding: 18px;
      border-radius: 0 0 5px 0;
      background-color: #fdce17;
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      transition: all 0.15s ease-out;
    }
  }
}

.filter-block {
  display: block;
  margin-bottom: 6px;
  padding: 16px;
  border-radius: 3px;
  border: 1px solid rgba(97, 83, 68, 0.1);
  background-color: rgba(206, 82, 82, 0);
  transition: all 0.15s ease-out;
  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 16px;
    border: none;
    border-radius: 3px;
    border: 1px solid #fdce17;
    background: rgba(206, 82, 82, 0);
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      background: #fdce17;
    }
  }
  .checkbox {
    label {
      color: #615344;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: relative;
      top: 2px;
    }
    [type="checkbox"]:not(:checked):before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 13px;
      height: 13px;
      background: url('../images/icon_checkbox.png') no-repeat center;
    }
    [type="checkbox"]:checked:before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 13px;
      height: 13px;
      background: url('../images/icon_checkbox_active.png') no-repeat center;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    transition: all 0.15s ease-out;
    &:hover {
      color: #fdce17;
      cursor: pointer;
      .filter-block__title {
        color: #fdce17;
      }
    }
  }
  &__arrow {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.15s ease-out;
  }
  &__title {
    display: inline-block;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.15s ease-out;
  }
  &__body {
    margin-top: 15px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  input[type='text'] {
    width: 45%;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid rgba(97, 83, 68, 0.2);
    background-color: rgba(226, 104, 35, 0);
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
  }
}

.goods-best {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  .home-best-card {
    margin-bottom: 30px;
  }
}

.main-pagination {
  display: flex;
  flex: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto 50px;
  &_active {
    border: 1px solid #615344 !important;
    background-color: #615344 !important;
    color: #ffffff !important;
  }
  li {
    a {
      display: inline-block;
      margin: 2px;
      padding: 7px 12px;
      border: 1px solid rgba(97, 83, 68, 0.5);
      background-color: rgba(255, 255, 255, 0);
      color: #615344;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover {
        border: 1px solid #fdce17;
        text-decoration: none;
      }
    }
  }
}

.goods-text {
  display: block;
  margin-bottom: 50px;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}