.navbar {
  min-height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-default {
  border-color: transparent;
  box-shadow: 1px 4px 35px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.navbar-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 0;
}

.navbar-nav>li {
  padding: 18px 4px;
}

.nav>li>a {
  display: inline-flex;
  padding: 0;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
}

.home-slider {
  .slick-next,
  .slick-prev {
    width: auto;
    height: auto;
    z-index: 1;
    &:before {
      display: none;
    }
  }
  .slick-prev {
    left: 30px;
  }
  .slick-next {
    right: 30px;
  }
  .slick-dots {
    bottom: 50px;
    text-align: left;
    padding-left: 80px;
  }
  .slick-dots li button:before {
    font-size: 12px;
    color: #fdce17;
  }
}

.home-reviews-slider {
  .slick-next,
  .slick-prev {
    width: auto;
    height: auto;
    border-radius: 999rem;
    transition: all 0.15s ease-out;
    z-index: 1;
    &:hover {
      box-shadow: 1px 6px 8px rgba(56, 56, 56, 0.19);
    }
    &:before {
      display: none;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-dots li button:before {
    font-size: 12px;
    color: #929292;
  }
}

.dropdown-container {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
}

#sync1 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 330px !important;
  height: 330px !important;
  border-radius: 3px;
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  margin: 5px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 220px !important;
    height: 220px !important;
    object-fit: contain;
    object-position: center;
  }
}

.good-main__zoom {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 18px;
  right: 18px;
  background: url('../images/icon_zoom.png') no-repeat center;
}

#sync2 {
  padding-right: 10px;
}

#sync2 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  &:hover {
    border: 1px solid #c6c6c6;
  }
  img {
    display: block;
    width: 65px;
    height: 65px;
    object-fit: contain;
    object-position: center;
  }
}

#sync2 .synced .item {
  background-color: rgba(253, 206, 23, 0.2);
}

#sync1 {
  display: inline-block !important;
  width: 335px !important;
  height: 335px !important;
  margin-top: -5px;
}

#sync2 {
  display: inline-block !important;
  width: 70px !important;
}

#sync2 .owl-wrapper {
  display: inline-flex !important;
  flex-flow: column nowrap !important;
  width: 100px !important;
  height: 260px !important;
  overflow: auto;
}

#sync2 .owl-wrapper-outer {
  width: 100px !important;
}

.morelink {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -80px;
  padding: 80px 0 0;
  color: #615344;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(226, 104, 35, 0);
  background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  text-align: center;
  transition: all 0.15s ease-out;
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 23px;
    height: 12px;
    bottom: -15px;
    left: 50%;
    margin-left: -11px;
    background: url('../images/icon_more.png') no-repeat center;
    transition: all 0.25s ease-out;
  }
  &.less {
    background: transparent;
    &:after {
      transform: rotate(180deg) !important;
    }
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}