@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header .container>.main-header_fix {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .main-top__info {
    justify-content: space-around;
    text-align: center;
  }
  .main-top__info span {
    margin: 0 5px;
  }
  .main-top__social {
    justify-content: center;
  }
  .main-header__search {
    width: 100%;
    margin: 10px 0;
    flex: 0 1 auto;
  }
  .main-header__search button {
    padding: 12px 4px;
  }
  .main-header__basket {
    margin-bottom: 5px;
    padding: 8px 4px;
  }
  .main-header__call {
    align-items: center;
    text-align: center;
  }
  .main-header__basket img {
    margin-right: 6px;
  }
  .navbar-nav {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .home-new-big__back-img {
    position: relative;
  }
  .home-new-big {
    padding: 16px;
  }
  .home-new-big__title {
    font-size: 24px;
  }
  .home-best-card {
    margin-bottom: 15px;
  }
  .home-best {
    padding: 20px 0;
    justify-content: space-around;
  }
  .home-catalog {
    padding: 20px 0;
  }
  .home-title {
    margin: 0 auto 20px;
    font-size: 26px;
  }
  .home-catalog-card {
    max-width: 100%;
  }
  .home-portfolio {
    padding: 20px 0;
  }
  .home-slider__slide-title {
    margin: 30px;
    font-size: 24px;
  }
  .home-reviews {
    padding: 20px 0;
  }
  .home-reviews-slider .slick-next,
  .home-reviews-slider .slick-prev {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .home-news {
    padding: 20px 0;
  }
  .home-news-card p {
    margin: 15px;
  }
  .home-news-card__img {
    margin-bottom: 15px;
  }
  .home-news-card__title {
    margin-bottom: 8px;
  }
  .home-article {
    padding: 20px 0;
  }
  .home-companies__cards {
    justify-content: space-around;
  }
  .main-title__this {
    margin: 20px 0;
    font-size: 26px;
  }
  .article-article blockquote {
    margin: 20px;
    padding: 20px;
    background: #f4f4f4;
    &:before {
      display: none;
    }
  }
  .good-main__slider {
    flex-flow: row wrap;
  }
  .good-description {
    padding: 20px 0;
  }
  .good-links {
    padding: 20px 20px 10px 20px;
  }
  .goods-best {
    justify-content: space-around;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
  .nav>li.dropdown-wide.dropdown:hover {
    position: static;
  }
  .nav>li.dropdown-wide.dropdown .dropdown-menu {
    display: none;
  }
  .dropdown-menu {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    &:before {
      display: block;
      position: absolute;
      bottom: 100%;
      left: 26px;
      content: '';
      width: 15px;
      height: 13px;
      background: url('../images/dropdown_before.png') no-repeat center;
    }
  }
  .dropdown-menu>li>a {
    display: block;
    min-width: 256px;
    margin-bottom: 2px;
    padding: 14px 16px;
    box-shadow: 1px 1px 0 #fdce17;
    background-color: #fdce17;
    color: #615344;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #fdce17;
      opacity: 0.8;
    }
  }
  .nav>li.dropdown-wide.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
  }
  .nav>li.dropdown-wide.dropdown:hover {
    .dropdown-menu {
      display: block;
      padding: 15px 0;
      background-color: #f4f4f4;
      &:before {
        display: none;
      }
      .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
      }
      li {
        display: inline-block;
        position: relative;
        a {
          display: inline-block;
          min-width: auto;
          margin: 0;
          padding: 8px;
          border: none;
          box-shadow: none;
          background: transparent;
          color: #615344;
          font-family: "Proxima Nova";
          font-size: 13px;
          font-weight: 400;
          transition: all 0.15s ease-out;
          &:hover {
            text-decoration: none;
            color: #000;
          }
        }
        &:last-child {
          &:before {
            display: block;
            position: absolute;
            top: -26px;
            right: 13px;
            content: '';
            width: 13px;
            height: 11px;
            background: url('../images/long_dropdown_before.png') no-repeat center;
          }
        }
      }
    }
  }
  .home-new-big_right-space {
    padding-right: 20px !important;
  }
}

@media (min-width: 768px) {
  .navbar-static-top>.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    background-color: #f4f4f4;
    &:before {
      display: none;
    }
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
    }
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        min-width: auto;
        margin: 0;
        padding: 8px;
        border: none;
        box-shadow: none;
        background: transparent;
        color: #615344;
        font-family: "Proxima Nova";
        font-size: 13px;
        font-weight: 400;
        transition: all 0.15s ease-out;
        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
      &:last-child {
        &:before {
          display: none;
          position: absolute;
          top: -26px;
          right: 13px;
          content: '';
          width: 13px;
          height: 11px;
          background: url('../images/long_dropdown_before.png') no-repeat center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-static-top>.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    background-color: #f4f4f4;
    &:before {
      display: none;
    }
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        min-width: auto;
        margin: 0;
        padding: 8px;
        border: none;
        box-shadow: none;
        background: transparent;
        color: #615344;
        font-family: "Proxima Nova";
        font-size: 13px;
        font-weight: 400;
        transition: all 0.15s ease-out;
        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
      &:last-child {
        &:before {
          display: none;
          position: absolute;
          top: -26px;
          right: 13px;
          content: '';
          width: 13px;
          height: 11px;
          background: url('../images/long_dropdown_before.png') no-repeat center;
        }
      }
    }
  }
}